<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloudy.png">

    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Siamak. It uses data from mapbox.com and darksky.net!</p>
        {{!-- <h1>{{title}}</h1> --}}
        {{!-- <p>Created by {{name}}</p> --}}

        <img class="portrait" src="/img/me.jpg">
    </div>
    {{>footer}}

</body>

</html>